.dmn {
  &__top {
    height: 14rem;
  }
  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &__subtitle {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
  }

  &__menuwrap {
    height: 5rem;
    background-color: $c-accent;
    font-size: 2.4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__navbuttons {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: $c-thm-dark;
      color: $c-white;
      transition: 0.5s;
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    &__cards {
      height: 25rem;
      width: 19rem;
      max-width: 100%;
      border: 1px solid;
      text-align: center;
      margin-left: 6rem;
      margin-right: 6rem;
      margin-bottom: 6rem;
      font-size: 1.6rem;
      font-family: "ralewaysemibold";
      line-height: 2rem;
      background-color: var(--color-white);

      &__icon {
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;
      }

      &__title {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }

      &__text-red {
        color: red;
      }

      &-blog {
        color: $c-accent;
        fill: $c-accent;
        border-color: $c-accent;
      }

      &-sub {
        color: $c-thm-mid;
        fill: $c-thm-mid;
        border-color: $c-thm-mid;
      }

      &-test {
        color: $c-thm-dark;
        fill: $c-thm-dark;
        border-color: $c-thm-dark;
      }

      &-back {
        color: $c-primary;
        fill: $c-primary;
        border-color: $c-primary;
      }
    }
    &__inline {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__addicon {
      fill: $c-white;
      background-color: $c-thm-mid;
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.7rem;
      border-radius: 3px;
      margin-left: 1rem;
    }
  }

  &__blog {
    &__openicon {
      fill: $c-thm-light;
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    &__deleteicon {
      fill: $c-white;
      background-color: red;
      height: 2.3rem;
      width: 2.3rem;
      padding: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 10rem;
    }

    &__newmodify {
      &__title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 3rem;
      }

      &__subtitle {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      &__cont {
        display: flex;

        &__left {
          flex: 1;
        }

        &__left2 {
          flex: 2;
        }

        &__right {
          flex: 1;
          margin-left: 2rem;
        }

        &__right2 {
          flex: 2;
          margin-left: 2rem;
        }

        &__submitbtn {
          margin-bottom: 2rem;
          font-size: 2rem;
          border-radius: 2px;
          padding: 1rem 2rem;
        }

        &__low-right {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }
      }

      &__gallery {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__btninput {
          font-size: 2.1rem;
          width: fit-content;
          border: 0;
        }

        &__btnadd {
          font-size: 1.8rem;
          border-radius: 2px;
          padding: 0.3rem 2rem;
        }

        &__minigallery {
          display: flex;

          &__element {
            height: 150px;
            margin-bottom: 1rem;
            margin-right: 1rem;
          }

          &__img {
            height: 100%;
            width: 100%;
          }
        }

        &__modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          text-align: center;

          &__content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 2rem;
            border: 1px solid #888;
            width: 50%;

            &__img {
              max-height: 40rem;
            }

            &__imgcont {
              max-height: 40rem;
              max-width: 100%;
              height: auto;
            }
          }

          &__btn {
            font-size: 1.8rem;
            border-radius: 3rem;
            padding: 0.3rem 2rem;
          }

          &__close {
            text-align: right;
            font-size: 3rem;
            font-weight: 600;
            width: 100%;
            padding-right: 3rem;
            color: red;
          }
        }
      }
    }
  }

  &__backlinks {
    display: flex;
    width: 100%;

    &__left {
      width: 48%;
      margin: 1rem;
    }

    &__right {
      width: 48%;
      margin: 1rem;
    }

    &__imgcontainer {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;

      &__element {
        width: 33%;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--imgcont {
          display: flex !important;
          align-items: center;
        }
      }

      &__imginput {
        font-size: 2rem;
      }

      &__imgupl {
        height: 6.5rem;
        width: auto;
      }
    }

    &__submitbtn {
      margin-bottom: 3rem;
      margin-top: 2rem;
      margin-right: 2rem;
      font-size: 2rem;
      border-radius: 3rem;
      padding: 0.5rem 2rem;
    }
  }

  &__subscribers {
    &__button {
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 2rem;
      border-radius: 3rem;
      padding: 0.5rem 2rem;
    }

    &__icon {
      width: 2.8rem;
      height: 2.8rem;
      fill: var(--color-white);
      background-color: red;
      border-radius: 30rem;
      padding: 0.4rem;

      &--approved {
        background-color: var(--color-bright-green);
        top: 0.5rem;

        &-margin {
          margin-left: 1.5rem;
        }
      }

      &--delete {
        background-color: var(--color-text-dark);
      }
    }
  }

  // Modifications to text editor colors to match the page.
  .cke_1 .cke_top {
    background-color: $c-accent !important;
  }

  .cke_1 .cke_bottom {
    background-color: $c-accent !important;
  }

  .cke_1 .cke_dialog_title {
    background-color: $c-accent !important;
  }

  .cke_1 .cke_dialog_footer {
    background-color: $c-accent !important;
  }

  a.cke_dialog_ui_button_ok {
    background-color: $c-primary !important;
    color: $c-white !important;
  }

  a.cke_dialog_ui_button_ok:hover {
    background-color: $c-primary !important;
    border-color: $c-primary !important;
  }

  a.cke_dialog_ui_button_cancel {
    background-color: $c-background !important;
    color: $c-primary !important;
  }

  a.cke_dialog_ui_button_cancel:hover {
    background-color: $c-thm-mid !important;
    color: $c-white !important;
  }
}
